
.icon-location:before { content: '\e800'; } /* '' */
.icon-leaf:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-login:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */